@font-face {
  font-family: 'Averta Std CY';
  src: url('./font/AvertaStdCY-Bold.eot');
  src: url('./font/AvertaStdCY-Bold.eot?#iefix') format('embedded-opentype'),
      url('./font/AvertaStdCY-Bold.woff2') format('woff2'),
      url('./font/AvertaStdCY-Bold.woff') format('woff'),
      url('./font/AvertaStdCY-Bold.ttf') format('truetype'),
      url('./font/AvertaStdCY-Bold.svg#AvertaStdCY-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Averta Std CY';
  src: url('./font/AvertaStdCY-Extrabold.eot');
  src: url('./font/AvertaStdCY-Extrabold.eot?#iefix') format('embedded-opentype'),
      url('./font/AvertaStdCY-Extrabold.woff2') format('woff2'),
      url('./font/AvertaStdCY-Extrabold.woff') format('woff'),
      url('./font/AvertaStdCY-Extrabold.ttf') format('truetype'),
      url('./font/AvertaStdCY-Extrabold.svg#AvertaStdCY-Extrabold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Averta Std CY';
  src: url('./font/AvertaStdCY-Black.eot');
  src: url('./font/AvertaStdCY-Black.eot?#iefix') format('embedded-opentype'),
      url('./font/AvertaStdCY-Black.woff2') format('woff2'),
      url('./font/AvertaStdCY-Black.woff') format('woff'),
      url('./font/AvertaStdCY-Black.ttf') format('truetype'),
      url('./font/AvertaStdCY-Black.svg#AvertaStdCY-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Averta Std CY';
  src: url('./font/AvertaStdCY-Light.eot');
  src: url('./font/AvertaStdCY-Light.eot?#iefix') format('embedded-opentype'),
      url('./font/AvertaStdCY-Light.woff2') format('woff2'),
      url('./font/AvertaStdCY-Light.woff') format('woff'),
      url('./font/AvertaStdCY-Light.ttf') format('truetype'),
      url('./font/AvertaStdCY-Light.svg#AvertaStdCY-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Averta Std CY';
  src: url('./font/AvertaStdCY-LightItalic.eot');
  src: url('./font/AvertaStdCY-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('./font/AvertaStdCY-LightItalic.woff2') format('woff2'),
      url('./font/AvertaStdCY-LightItalic.woff') format('woff'),
      url('./font/AvertaStdCY-LightItalic.ttf') format('truetype'),
      url('./font/AvertaStdCY-LightItalic.svg#AvertaStdCY-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Averta Std CY';
  src: url('./font/AvertaStdCY-Regular.eot');
  src: url('./font/AvertaStdCY-Regular.eot?#iefix') format('embedded-opentype'),
      url('./font/AvertaStdCY-Regular.woff2') format('woff2'),
      url('./font/AvertaStdCY-Regular.woff') format('woff'),
      url('./font/AvertaStdCY-Regular.ttf') format('truetype'),
      url('./font/AvertaStdCY-Regular.svg#AvertaStdCY-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Averta Std CY';
  src: url('./font/AvertaStdCY-Semibold.eot');
  src: url('./font/AvertaStdCY-Semibold.eot?#iefix') format('embedded-opentype'),
      url('./font/AvertaStdCY-Semibold.woff2') format('woff2'),
      url('./font/AvertaStdCY-Semibold.woff') format('woff'),
      url('./font/AvertaStdCY-Semibold.ttf') format('truetype'),
      url('./font/AvertaStdCY-Semibold.svg#AvertaStdCY-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}



body {
  margin: 0;
  padding: 0;
  font-family: 'Averta Std CY';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

